.loginPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(91, 28, 151); */
}

.loginForm {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 14, 14);
    width: 350px;
    height: 265px;
    color: rgb(91, 28, 151);
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    /* border-radius: 5%; */
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(14, 14, 14);
    padding-bottom: 5px;
    padding-right: 8px;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}